
// Estilos para el carrusel
.carousel {
  position: relative; // Permite posicionar elementos hijos de forma absoluta dentro del carrusel

  .carousel-item {
    display: block; // Se asegura de que cada elemento sea visible en el flujo del documento
    opacity: 0; // Los elementos no activos son invisibles
    transition: opacity 0.5s ease-in-out; // Suaviza la transición entre elementos

    &.active {
      opacity: 1; // El elemento activo es visible
    }
  }
}

button {
  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
  }
}

span{
  cursor: pointer;
}


