<div class="validador-container">
  <!-- Encabezado -->
  <header class="validador-header">
    <h1>Gestión de Validadores</h1>
    <nav>
      <ul class="validador-nav">
        <li><a routerLink="/validador/docente" routerLinkActive="active">Validador  ValidadorDocenteModule </a></li>
        <li><a routerLink="/validador/plantel" routerLinkActive="active">Validador de Planteles</a></li>
        <li><a routerLink="/validador/cursos" routerLinkActive="active">Validador de Cursos</a></li>
      </ul>
    </nav>
  </header>

  <!-- Contenedor principal donde se cargan los hijos -->
  <main class="validador-main">
    <router-outlet></router-outlet>
  </main>

  <!-- Pie de página -->
  <footer class="validador-footer">
    <p>&copy; 2024 - Sistema de Validadores</p>
  </footer>
</div>
