<div class="min-h-screen flex bg-gray-100">
  <!-- Menú Lateral -->
  <!-- Menú Lateral -->

  <aside class="w-64 bg-white text-gray-800 shadow-lg flex flex-col transition hover:shadow-xl" *ngIf="!isMobile()">
    <!-- Encabezado del Menú con Logo -->
    <div class="p-6 text-center border-b border-gray-300 shadow-sm">
      <img src="https://www.icathi.edu.mx/img/ICATHI.png" alt="Logo de la Institución"
        class="mx-auto mb-4 w-16 h-16 object-contain" />
      <h2 class="text-lg font-semibold" style="color: #44509D;">Perfil Docente</h2>
    </div>
    <nav class="flex-1">
      <ul class="space-y-2 mt-4">
        <li>
          <a routerLink="/docente/home"
            class="block py-3 px-6 flex items-center border-l-4 border-transparent hover:bg-gray-100 hover:border-[#44509D] transition-all text-gray-700 hover:text-[#44509D]">
            <i class="home icon mr-3" style="color: #F08762;"></i>
            <span class="text-sm font-medium">Inicio</span>
          </a>
        </li>
        <li>
          <a routerLink="/docente/perfil" (click)="closeDrawer()" class="ui labeled icon item"
            class="block py-3 px-6 flex items-center border-l-4 border-transparent hover:bg-gray-100 hover:border-[#44509D] transition-all text-gray-700 hover:text-[#44509D]">
            <i class="user icon mr-3" style="color: #F08762;"></i>
            Perfil
            <div *ngIf="pendingCount() > 0" class="ui red circular label">
              {{ pendingCount() }}
            </div>
          </a>

        </li>
        <li>
          <a routerLink="/docente/mis-cursos"
            class="block py-3 px-6 flex items-center border-l-4 border-transparent hover:bg-gray-100 hover:border-[#44509D] transition-all text-gray-700 hover:text-[#44509D]">
            <i class="book icon mr-3" style="color: #F08762;"></i>
            <span class="text-sm font-medium">Clases Asignadas</span>
          </a>
        </li>
        <li>
          <a routerLink="/docente/alumnos-cursos"
            class="block py-3 px-6 flex items-center border-l-4 border-transparent hover:bg-gray-100 hover:border-[#44509D] transition-all text-gray-700 hover:text-[#44509D]">
            <i class="users icon mr-3" style="color: #F08762;"></i>
            <span class="text-sm font-medium">Estudiantes</span>
          </a>
        </li>

        <li>
          <a (click)="logout()"
            class="block cursor-pointer py-3 px-6 flex items-center border-l-4 border-transparent hover:bg-gray-100 hover:border-[#F08762] transition-all text-gray-700 hover:text-[#F08762]">
            <i class="sign-out alternate icon mr-3" style="color: #F08762;"></i>
            <span class="text-sm font-medium">Cerrar Sesión</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>


  <main class="flex-1 p-6">
    <!-- Encabezado -->
    <header
      class="bg-[#ffffff] border border-[#44509D] text-black py-4 px-6 rounded-lg sm:rounded-2xl mb-6 shadow-md flex justify-between items-center transition hover:shadow-lg hover:border-[#F08762]"
      *ngIf="docenteData()">
      <!-- Botón de menú hamburguesa (solo en móvil) -->
      <button (click)="visible_docente.set(true)"
        class="lg:hidden flex items-center text-[#F08762] p-2 space-x-6 justify-center mb-4 mr-4">
        <i class="bars icon text-2xl"></i>
      </button>

      <!-- Sección de bienvenida -->
      <div class="flex-grow mr-4">
        <h1 class="text-sm md:text-xl font-medium mb-1">
          Bienvenido, <span class="text-[#F08762]">{{ docenteData()?.nombre || 'Docente' }}</span>
        </h1>
        <p class="text-xs md:text-sm" style="color: #D8566C;">Correo :{{ docenteData().email }}</p>
      </div>

      <!-- Imagen del docente -->
      <img [src]="docenteData().foto_url || 'https://via.placeholder.com/150'" alt="Foto de docente"
        class="w-12 h-12 md:w-16 md:h-16 rounded-full object-cover ml-4 border border-[#F08762] shadow-sm" />
    </header>


    <!-- Contenido Dinámico -->
    <div
      class="bg-white rounded-lg shadow-lg p-6 border border-[#44509D] transition hover:shadow-xl hover:border-[#F08762]">
      <router-outlet></router-outlet>
    </div>
  </main>




</div>


<p-drawer [(visible)]="visible_docente" [style]="{ backgroundColor: 'white', color: '#1f2937', width: '300px' }"
  header="" [modal]="true" [showCloseIcon]="false">
  <!-- Encabezado personalizado -->
  <div class="flex items-center justify-between bg-white text-gray-800 px-4 py-3 border-b border-gray-200">
    <h1 class=" md:text-lg font-bold mb-1">
      Bienvenido, <span class="text-[#F08762]">{{ docenteData()?.nombre }}</span>
    </h1> <button
      class="text-xl font-bold text-gray-800 hover:text-[#F08762] transition-transform transform hover:scale-110"
      (click)="visible_docente.set(false)">
      ✖
    </button>
  </div>

  <!-- Menú -->
  <div class="menu-container px-4 py-6 space-y-6">
    <!-- Enlace a Inicio -->
    <a routerLink="/docente/home" (click)="closeDrawer()"
      class="flex items-center space-x-3 px-2 py-2 rounded-lg text-sm font-medium text-gray-800 hover:text-[#44509D] hover:border-[#44509D] transition-all duration-300 border border-transparent hover:border-solid">
      <i class="pi pi-home text-lg" style="color: #D8566C;"></i>
      <span class="text-sm font-medium">Inicio</span>
    </a>


    <a routerLink="/docente/perfil" (click)="closeDrawer()" class="ui labeled icon item"
      class="flex items-center space-x-3 px-2 py-2 rounded-lg text-sm font-medium text-gray-800 hover:text-[#44509D] hover:border-[#44509D] transition-all duration-300 border border-transparent hover:border-solid">
      <i class="user icon" style="color: #D8566C;"></i>
      Perfil
      <div *ngIf="pendingCount() > 0" class="ui red circular label">
        {{ pendingCount() }}
      </div>
    </a>



    <!-- Enlace a Clases Asignadas -->
    <a routerLink="/docente/mis-cursos" (click)="closeDrawer()"
      class="flex items-center space-x-3 px-2 py-2 rounded-lg text-sm font-medium text-gray-800 hover:text-[#44509D] hover:border-[#44509D] transition-all duration-300 border border-transparent hover:border-solid">
      <i class="pi pi-user text-lg" style="color: #D8566C;"></i>
      <span class="text-sm font-medium">Clases Asignadas</span>
    </a>

    <!-- Enlace a Estudiantes -->
    <a routerLink="/docente/alumnos-cursos" (click)="closeDrawer()"
      class="flex items-center space-x-3 px-2 py-2 rounded-lg text-sm font-medium text-gray-800 hover:text-[#44509D] hover:border-[#44509D] transition-all duration-300 border border-transparent hover:border-solid">
      <i class="pi pi-users text-lg" style="color: #D8566C;"></i>
      <span class="text-sm font-medium">Estudiantes</span>
    </a>

    <!-- Cerrar sesión -->
    <a (click)="logout()"
      class="flex items-center justify-center space-x-3 px-2 py-3 rounded-lg text-sm font-medium text-red-500 bg-[#f5edf2] hover:bg-[#D8566C] shadow-md transition-all duration-300">
      <i class="pi pi-sign-out text-lg" style="color: #D8566C;"></i>
      <span class="text-sm font-medium">Cerrar Sesión</span>
    </a>
  </div>
</p-drawer>