<app-loading-dimmer [isLoading]="isSaving()" loadingText="Guardando cambios...">
</app-loading-dimmer>

<!-- Vista de perfil -->
<section *ngIf="!isEditing() && docenteData()" class="max-w-4xl mx-auto p-6 bg-white rounded-lg  transition-transform  animate__animated animate__fadeIn">

    <app-docente-info [status]="docenteData()?.estatus_valor" [docente]="docenteData()" (editProfile)="editarPerfil()" (viewClasses)="verClases()">
    </app-docente-info>


</section>

<!-- Formulario de edición -->
<app-profile-form *ngIf="isEditing() && docenteData()" [docenteData]="docenteData()" [especialidades]="especialidades()" [selectedEspecialidades]="selectedEspecialidades()" (formSubmit)="guardarCambios()" (cancel)="cancelarEdicion()" (profilePhotoChange)="onProfilePhotoChange($event)"
    (documentoIdentificacionChange)="onDocumentoIdentificacionChange($event)" (curriculumChange)="onCurriculumChange($event)" (cedulaChange)="onCedulaChange($event)" (especialidadesChange)="onEspecialidadesChange($event)">
</app-profile-form>