<!--
Este código representa una interfaz de inicio de sesión responsiva utilizando Tailwind CSS y Angular.
Incluye validaciones de formularios, enlaces de recuperación de contraseña y opciones de autenticación social.
-->

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  
  <!-- Contenedor principal -->
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- Logo de la empresa -->
    <img class="mx-auto h-24 w-auto" src="https://www.icathi.edu.mx/img/ICATHI.png" alt="ICATHI">
    <!-- Título del formulario -->
    <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-900">INICIA SESIÓN - 4.0</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- Formulario de inicio de sesión -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      
      <!-- Campo de correo electrónico -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-900">CORREO ELECTRÓNICO</label>
        <div class="mt-2">
          <input
            formControlName="email"
            id="email"
            type="email"
            autocomplete="email"
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-indigo-600 sm:text-sm"
          />
        </div>

        <!-- Mensaje de error para email -->
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
          Email válido es requerido.
        </div>
      </div>

      <!-- Campo de contraseña -->
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium text-gray-900">CONTRASEÑA</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Olvidaste tu contraseña?</a>
          </div>
        </div>
        <div class="mt-2">
          <input
            formControlName="password"
            id="password"
            type="password"
            autocomplete="current-password"
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-indigo-600 sm:text-sm"
          />
        </div>
        <!-- Mensaje de error para contraseña -->
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 text-sm mt-1">
          Contraseña debe tener al menos 6 caracteres.
        </div>
      </div>

      <!-- Botón de inicio de sesión -->
      <div>
        <button *ngIf="!loading"
        type="submit"
        class="button flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-indigo-600">
          INICIA SESIÓN 
        </button>
        <button *ngIf="loading" type="submit" class="ui primary loading button flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-indigo-600">
        </button>
      </div>
    </form>

    <!-- Enlaces de registro -->
    <p class="mt-4 text-center text-sm text-gray-500">
      ¿No tienes cuenta?
      <a routerLink="/public/select-rol" class="font-semibold text-indigo-600 hover:text-indigo-500">Crear cuenta</a>
    </p>
  </div>
</div>
