<div class="min-h-screen flex bg-gray-100">
  <!-- Menú Lateral -->
  <aside class="w-64 bg-[#44509D] text-white shadow-md">
    <div class="p-6 text-center">
      <h2 class="text-lg font-bold">Perfil Docente</h2>
    </div>
    <nav>
      <ul>
        <li class="hover:bg-[#F08762]">
          <a routerLink="/docente/perfil" class="block py-3 px-6">Inicio</a>
        </li>
        <li class="hover:bg-[#F08762]">
          <a routerLink="/docente/cursos" class="block py-3 px-6">Cursos</a>
        </li>
        <li class="hover:bg-[#F08762]">
          <a routerLink="/docente/cursos" class="block py-3 px-6">Estadísticas</a>
        </li>
        <li class="hover:bg-[#F08762]">
          <a routerLink="/docente/cursos" class="block py-3 px-6">Configuración</a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Contenido Principal -->
  <main class="flex-1 p-6">
    <!-- Encabezado -->
    <header
      class="bg-[#D8566C] text-white py-4 px-6 rounded-lg mb-6"
      *ngIf="docenteData"
    >
      <h1 class="text-2xl font-semibold">
        Bienvenido, {{ docenteData.nombre }}
      </h1>
      <p class="text-sm">Correo: {{ docenteData.email }}</p>
    </header>
    <router-outlet></router-outlet>


    <!-- Materias Impartidas -->
    <!-- <section
      class="bg-white shadow-md rounded-lg p-6 mb-6"
      *ngIf="docenteData?.materias?.length"
    >
      <h2 class="text-lg font-semibold text-[#44509D]">Materias Impartidas</h2>
      <ul class="mt-4 space-y-2">
        <li
          *ngFor="let materia of docenteData.materias"
          class="bg-gray-50 border-l-4 border-[#D8566C] p-4 rounded-lg flex justify-between items-center"
        >
          <span>{{ materia.nombre }}</span>
          <span class="text-sm text-gray-500">
            Horario: {{ materia.horario }}
          </span>
        </li>
      </ul>
    </section> -->

    <!-- Estadísticas de Desempeño -->
    <!-- <section class="bg-white shadow-md rounded-lg p-6" *ngIf="docenteData?.estadisticas">
      <h2 class="text-lg font-semibold text-[#44509D]">Estadísticas de Desempeño</h2>
      <div class="mt-4 grid grid-cols-2 gap-4">
        <div class="bg-[#F08762] p-4 rounded-lg text-center text-white">
          <p class="text-xl font-bold">{{ docenteData.estadisticas.asistencia }}%</p>
          <p class="text-sm">Asistencia Promedio</p>
        </div>
        <div class="bg-[#D8566C] p-4 rounded-lg text-center text-white">
          <p class="text-xl font-bold">{{ docenteData.estadisticas.evaluacion }}</p>
          <p class="text-sm">Evaluación General</p>
        </div>
      </div>
    </section> -->
  </main>
</div>
